        p {
            font-size: 30px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: rgb(53, 85, 113);
        }
        body {
            background-color: #2b381c;
           

        }

        h1 {
            color: green;
            font-size: 40px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            
        }
        
        a {
            color: rgb(109, 139, 168);

        }
        a:visited {
            color: rgb(74, 62, 62);
        }
        a:hover, a:active {
            color: #de7979;
        }

        img {
            border: 30px;
            border-width: 40px;
            border-color: rgb(72, 85, 85);
            border-radius: 10px;
            box-shadow: 20px;
            margin: 5cap;
            border-style: double;
        }