html {
            font-size: 24px;
            font-variant: small-caps;
        }
        body {
            background-color: #899a74;
            color: rgb(1, 0, 0);

        }
        
        a {
            color: rgb(109, 139, 168);

        }
        a:visited {
            color: rgb(74, 62, 62);
        }
        a:hover, a:active {
            color: #de7979;
        }

        img {
            border: 10px;
            border-width: 10px;
            border-color: aqua;
            border-radius: 10px;
            box-shadow: 10px;
            margin: 10px;
        }